Android/2016-04-29-ButterKnifeExample/.idea/.name
Android/2016-04-29-ButterKnifeExample/.idea/compiler.xml
Android/2016-04-29-ButterKnifeExample/.idea/encodings.xml
Android/2016-04-29-ButterKnifeExample/.idea/gradle.xml
Android/2016-04-29-ButterKnifeExample/.idea/misc.xml
Android/2016-04-29-ButterKnifeExample/.idea/modules.xml
Android/2016-04-29-ButterKnifeExample/.idea/runConfigurations.xml
Android/2016-04-29-ButterKnifeExample/.idea/copyright/profiles_settings.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/.name
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/compiler.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/encodings.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/gradle.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/misc.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/modules.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/runConfigurations.xml
Android/2016-05-08-Android-Overlay-Permission-Example/.idea/copyright/profiles_settings.xml
