<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.thdev.multiwindow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Multi window support example -->
        <activity
            android:name=".MultiWindowActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Multi window freeform mode example -->
        <activity
            android:name=".FreeformModeActivity"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.NoActionBar">
            <layout
                android:defaultHeight="500dp"
                android:defaultWidth="600dp"
                android:gravity="top|end"
                android:minimalHeight="450dp"
                android:minimalWidth="300dp" />

            <!-- Preview 2 change -->
            <!-- Remove API Name : android:minimalSize -->
            <!-- Add API Name : android:minimalWidth -->
            <!-- Add API Name : android:minimalHeight -->
        </activity>

        <!-- MultiWindowTransparent example -->
        <activity
            android:name=".MultiWindowTransparentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Transparent activity example -->
        <activity
            android:name=".TransparentActivity"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
